<p class="label">
	<strong>Name:</strong>
	<%= @user.name %>
</p>
<p class="bottom_link">
	<%= link_to 'Edit', edit_user_path(@user), class:"link_to_edit" %> |
	<%= link_to 'Back', users_path, class:"link_to_user" %>
</p>